# place in /etc/systemd/system

[Unit]
Description=Get digest auth header for Calibre API
Wants=homepage-calibre.timer

[Service]
WorkingDirectory=/home/<username>/homepage/config
Type=oneshot
ExecStart=/home/<username>/homepage/config/homepage-calibre-auth.sh

[Install]
WantedBy=multi-user.target
